/* body{
    margin: 0;
}



html {
    overflow-y: scroll; 
  } */

h1 {
  margin: 0px 0px 30px;
  color: #000;
  font-style: normal;
  font-family: "Josefin Sans", sans-serif;
  /* font-size: 3rem; */
  padding-top: 15px;
  font-size: 50px;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  margin-bottom: 25px;
}

p {
  margin: 0px 0px 40px;
  padding: 0px 50px 0px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

span {
  font-size: 14px;
  margin: 0px 0px 26px;
  color: #ff9100;
  font-family: "Roboto", sans-serif;
}
/* Nav Section */
.nav-item {
  margin: 2px 5px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  padding: 5px 10px;
  color: white;
}

/* Title section */

.btn {
  margin: 3% 3% 5% 0;
  color: white;
}

#title {
  background-color: #ffddb5;
}
.title_img {
  width: 100%;
  height: 40rem;
  padding-left: 10%;
}
.title-cover {
  margin: 70px 0px 0px 50px;
  padding: 0 80px 0px 37px;
}
.container-fluid {
  padding: 80px 60px;
}

/* Service Section */

/* Biography Section */
.bio-image {
  width: 40rem;
  height: 100%;
  padding-right: 100px;
}
.bio-head {
  padding-bottom: 50px;
  padding-top: 50px;
}

/* Pricing Section  */
.pricing-head {
  background: #ff9100;
  color: white;
  padding: 7% 20% 15%;
  text-align: center;
}
.pricing-box {
  text-align: center;
  padding-left: 5%;
  padding-right: 4%;

  line-height: 2.5;
}

.price-amount {
  color: #ff9100;
}

.basic-button {
  background-color: white;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
}
.btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #ff9100;
  border-color: #ff9100;
}
.btn-xl:hover {
  background-color: black;
  border-color: black;
  color: white;
}

.btn-sm {
  padding: 10px 10px;
  background-color: #ff9100;
  width: 100%;
}

#super {
  vertical-align: super;
  font-size: medium;
}
sup {
  font-size: 18px;
}
.card-header {
  background-color: white;
}
.card-body {
  background-color: white;
}

/* Feature Section */
.feature-image {
  width: 100%;
  padding: 0 15px;
  vertical-align: middle;
  border-style: none;
}

/* Testimonial Section */
.testimonial-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.testimonial-writeup {
  background-color: white;
  padding: 45px 40px 30px 45px;
  line-height: 2;
}
.testimonial-p {
  color: grey;
}

/* Blog Section */

.blog-link {
  color: black;
}

.blog-link:hover {
  color: #ff9100;
}

/* Footer Section */
.footer-cover {
  background: black;
  color: white;
  padding: 7% 5% 1%;
}

.footer-icon {
  color: white;
  margin: 3px;
}

.footer-icon:hover {
  background-color: #ff9100;
}

.footer-img {
  margin-bottom: 30px;
}
.footer-social {
  margin-bottom: 30px;
}

.footer-para {
  color: grey;
  font-size: medium;
}

.list-link {
  color: grey;
  text-decoration: none;
}

.list-link:hover {
  color: white;
  text-decoration: underline;
}

.number {
  text-decoration: none;
  color: #ff9100;
  font-size: 25px;
}

.number:hover {
  color: #ff9100;
}

.love {
  color: #ff9100;
}
.colorlib {
  color: #ff9100;
  text-decoration: none;
}

.colorlib:hover {
  color: #ff9100;
}

.copyright-para {
  text-align: center;
  font-size: medium;
  color: grey;
}

@media screen and (max-width: 600px) {
  .mobile-view {
    display: none;
  }
}

div {
  width: 100%;
  margin: auto;
}
